# {{ ansible_managed }}

[Service]
ExecStart=/usr/bin/node /srv/app/server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=floppy-control-app
User=pi
Group=pi
Environment=ARDUINO=/dev/ttyACM0

[Install]
WantedBy=multi-user.target
