.selected {
	background-image: none;
}
html, body{
	background-color: black;
}
body{
	color: #f3cc4b;
	font-size: 1.9em;
}
a{
	color: #f3cc4b;
}
a:hover{
	color: white;
}


/*Free Play*/
.bigNote {
	font-size: 80px;
}

.bigNotePlaying {
	font-size: 80px;
	background-image: url('../assests/notes.gif')
}

.drive-cell {
	margin-bottom: 2em;
	text-align: center;
}

.drive-notes {
	margin-bottom: 0.5em;
}

/*Jukebox*/
#jukebox-banner{
	width: 100%;
}
.jukebox-entry {
	padding:.2em;
	margin:.2em;
	border-radius: .2em;
	background-color: #661a0e;
}

.jukebox-entry:hover {
	background-color: #934429;
}

.play-icon {
	padding-top: 5px;
	color:  #F6EF9F;
}

.playing {
	font-size: 42px;
	margin-bottom: 25px;
	z-index: 0;
	font-weight: bold
}

.pause-icon {
    position: absolute;
    font-size: 70px;

}
.playPauseBtn{
	height:60px;
}

/*Changing button styles: https://bootstrapbay.com/blog/bootstrap-button-styles/*/
.btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/*Big checkbox*/
#sharp-box, #flat-box {
	width: 1.1em;
	height: 1.1em;
}
