html, body {
	background-color: black;
}

body {
	color: #f3cc4b;
	font-size: 1.9em;
}

a {
	color: #f3cc4b;
}

a:hover{
	color: white;
}

.bottom-nav {
	margin-top: 3em;
}

.selected {
	background-image: none;
}

/******************Free Play******************/

.drive-cell {
	margin-bottom: 2em;
}

.drive-note {
	font-size: 5em;
	line-height: 1;
	height: 1em;
}

.drive-note.playing {
	background-image: url('../assets/notes.gif');
}

.drive-notes {
	margin-bottom: 0.5em;
}

/********************Jukebox******************/

.control-icon {
	border: 3px solid;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	padding: 0.5em;
}

.jukebox-entry {
	background-color: #661a0e;
	border-radius: 0.2em;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

.jukebox-entry:hover {
	background-color: #934429;
}

.playing-banner {
	font-size: 2em;
}

#jukebox-banner {
	width: 100%;
}


/*Changing button styles: https://bootstrapbay.com/blog/bootstrap-button-styles/*/
.btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
