<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <img id="jukebox-banner" src="../assests/jukebox.png" alt="jukebox">
    </div>
  </div>

  <div class="row">
    <div class="playing" ng-click="switchPauseOrPlay()" ng-show="playing">
      <div class="col-md-11">
        <marquee behavior="scroll" direction="left">{{playing.name}}</marquee>
      </div>
      <div class="text-center">
      	<p class="glyphicon glyphicon-play pause-icon" ng-hide="showPause"></p>
      	<p class="glyphicon glyphicon-pause pause-icon" ng-show="showPause"></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 jukebox" ng-repeat="song in songs">
  	  <div class="col-xs-12 jukebox-entry" ng-click="start(song.id)">
  	  	<span class="col-xs-12">{{song.name}}</span>
  	  </div>
    </div>
  </div>

  <div class="text-center bottomNav">
    <a href="#/free-play">Floppy Choir Free Play</a>
  </div>

</div>
