<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <img id="jukebox-banner" src="../assets/jukebox.png" alt="jukebox">
    </div>
  </div>

  <div class="playing text-center" ng-show="playing">
    <marquee behavior="scroll" class="playing-banner" direction="left">
      {{playing.name}}
    </marquee>

    <span ng-class="{ 'control-icon glyphicon': true, 'glyphicon-pause': !paused, 'glyphicon-play': paused }" ng-click="paused ? play() : pause()">
    </span>
  </div>

  <div class="jukebox" ng-repeat="song in songs">
	  <div class="jukebox-entry" ng-click="queue(song.id)">
	  	{{song.name}}
	  </div>
  </div>

  <div class="text-center bottom-nav">
    <a href="#/free-play">Floppy Choir Free Play</a>
  </div>
</div>
